
<h2 class="page-header" style="margin-top:20px;">Register</h2>
<form (submit)="onRegister();">
  <div class="example-container">
    <mat-form-field>
      <input type="text" name="name" [(ngModel)]="name" matInput placeholder="Name">
    </mat-form-field>
  
    <mat-form-field>
      <input type="text" name="email" [(ngModel)]="email" matInput placeholder="Email">
    </mat-form-field>

    <mat-form-field>
      <input type="text" name="username" [(ngModel)]="username" matInput placeholder="Username">
    </mat-form-field>

    <mat-form-field>
      <input type="password" name="password" [(ngModel)]="password" matInput placeholder="Password">
    </mat-form-field>
    
  </div>

  <button type="submit" mat-raised-button color="primary">Submit</button>
</form>
